---
import PageLayout from '../layouts/PageLayout.astro';
import ImgScale from '../components/ImgScale.astro';
---

<PageLayout title="Kommende Veranstaltungen">
  <h2>Gehmeditation</h2>

  <ImgScale src="images/gehmeditation.jpg" alt="Frieden mit jedem Schritt" width={200} />

  <p><strong>Jeden dritten Sonntag im Monat um 11 Uhr</strong> treffen wir uns im Nordpark neben dem Café auf dem Schachbrett zur Gehmeditation. Wir gehen ca. eine Stunde schweigend und achtsam durch den Park.</p>

  <h2>Tag der Achtsamkeit</h2>

  <p>Zweimal im Jahr veranstalten wir den <em>Tag der Achtsamkeit</em>, einmal im März und einmal im Oktober.
  Der Tag der Achtsamkeit gibt uns die Möglichkeit, einen kompletten Tag für uns und die Praxis zu haben.
  Wir werden gemeinsam Sitz- und Gehmeditation praktizieren, uns einen Dharmavortrag anhören und in Achtsamkeit essen.
  Bei Interesse meldet euch gerne bei Claudia direkt oder unter info@meditation-bielefeld.org.</p>

  <h3>Termine 2026</h3>

  <p>Die Termine für die Tage der Achtsamkeit für das Jahr 2026 stehen fest.
  Schickt eure Anmeldung bitte spätestens eine Woche vorher an: info@meditation-bielefeld.org</p>
  <ul>
    <li>08.03.2026</li>
    <li>18.10.2026</li>
  </ul>
</PageLayout>
