---
import PageLayout from '../layouts/PageLayout.astro';
import ExternalLink from '../components/ExternalLink.astro';
---

<PageLayout title="Informationsmaterial">
  <p>Neue Teilnehmer*innen stellen uns häufig Fragen zu der Plum Village Tradition und dem Ablauf unserer Abende.
  Hier haben wir einige Informationen zusammengetragen, die heruntergeladen und in Ruhe studiert werden können.</p>

  <p>Wir wünschen euch viel Freude damit!</p>

  <ul>
    <li><ExternalLink href="/download/Zeitplan-Abend.pdf" text="Ablauf für unseren Sangha Abend" /></li>
    <li><ExternalLink href="/download/Glocke-einladen.pdf" text="Leitfaden zum Einladen der Glocke" /></li>
    <li><ExternalLink href="/download/Dharma-Austausch.pdf" text="Dharma Austausch" /></li>
  </ul>
</PageLayout>
