---
import PageLayout from '../layouts/PageLayout.astro';
import ImgScale from '../components/ImgScale.astro';
---

<PageLayout title="Plum Village">
  <ImgScale src="images/plumvillage.jpg" alt="Upper Hamlet, Plum Village" width={500} />

  <p>Plum Village liegt in der Nähe von Bordeaux im Südwesten Frankreichs und ist das größte internationale Praxiszentrum in der Plum Village-Tradition. Es ist das erste von Zen-Meister Thich Nhat Hanh (Thay) gegründete Kloster im Westen.</p>

  <p>Plum Village ist der Ort, an dem Thay seinen Traum vom Aufbau einer geliebten Gemeinschaft verwirklicht hat: die Schaffung einer gesunden, nährenden Umgebung, in der Menschen die Kunst erlernen können, in Harmonie miteinander und mit der Erde zu leben.</p>

  <p>Plum Village begann 1982 als kleines, ländliches Gehöft und hat sich heute zum größten buddhistischen Kloster Europas entwickelt. Hier leben und praktizieren über 200 Mönche und Nonnen in vier verschiedenen Hamlets, die über die französische Landschaft verteilt sind. Es ist eine Fortsetzung der ursprünglichen „Süßkartoffel-Gemeinschaft", die Thay in den 1970er Jahren in der Nähe von Paris gründete, kurz nachdem er aus Vietnam ins Exil geschickt worden war.</p>

  <p>In Plum Village integrieren wir Achtsamkeit in all unsere täglichen Aktivitäten und wir trainieren diese den ganzen Tag lang aufrecht zu erhalten: Sei es beim Essen, Spazierengehen, bei der Arbeit oder beim gemeinsamen Genuss einer Tasse Tee. Plum Village ist ein Zuhause weit weg von unserem Heimatland und eine schöne, nährende und einfache Umgebung, in der wir den Geist des Erwachens kultivieren können.</p>

  <p>Wir genießen Zeiten der Stille, Sitzmeditation, Ruhe, Entspannung, achtsamen Arbeit und des Spielens. Jede(r) Praktizierende(r), der nach Plum Village kommt, ist eingeladen, sich an den gemeinsamen Aktivitäten in seinem Hamlet zu beteiligen. Sei es bei der Zubereitung von Mahlzeiten, beim Putzen oder beim Abwaschen des Geschirrs. Auf diese Weise lernen wir Freude und Achtsamkeit zu kultivieren, bei allem was wir tun.</p>

  <p>Jedes Jahr empfängt Plum Village Tausende von Meditierenden aus der ganzen Welt, die kommen um die Kunst des achtsamen Gemeinschaftslebens zu erleben. Beim alljährlichen vierwöchigen Sommer-Retreat, welches auch spezielle Programme für Kinder und Jugendliche anbietet, sind oft über 40 Nationalitäten vertreten.</p>

  <p>Zusätzlich zur Frühlings- und Herbst-Retreat-Saison, in der Besucher für eine Woche oder länger willkommen sind, bietet Plum Village auch spezielle Achtsamkeits-Retreats an. Darunter Retreats für Franzosen, Lehrer und auch für junge Leute. Das jährliche 3-monatige Regen-Retreat, das sowohl Laien als auch Mönchen und Nonnen offen steht, zieht jedes Jahr Hunderte von Praktizierenden an, die kommen, um ihre Praxis der Achtsamkeit zu vertiefen und um neunzig Tage lang einfach und harmonisch in Gemeinschaft zu leben.</p>

  <p>Die Hamlets von Plum Village unterhalten ein Freiwilligenprogramm für junge Erwachsene und haben eine biologische „Happy Farm" gegründet. Die sogenannten "Happy Farmer" (bestehend aus Ein-Jahres-Praktikanten und mehrjährigen Experten) versuchen Ökologie und Achtsamkeit zu kombinieren, während sie Gemüse für die veganen Mahlzeiten der Gemeinschaft anbauen.</p>

  <p>Bevor er kürzlich in seine Heimat Vietnam zurückkehrte, lebte Thich Nhat Hanh in Plum Village, wenn er nicht gerade auf Reisen war. Von Plum Village aus schrieb, lehrte, gärtnerte und leitete er seine globale Gemeinschaft. Viele der Wege rund um die Hügel und Felder von Plum Village sind für Thich Nhat Hanh und seine Gemeinschaft zu legendären Wegen der Gehmeditation geworden.</p>

  <p>Heute gibt es acht weitere klösterliche Praxiszentren in der Plum Village Tradition in Europa, den USA und Asien, die alle von Thich Nhat Hanh selbst gegründet wurden. Das Kloster und Praxiszentrum von Plum Village in Deutschland ist das "Europäische Institut für Angewandten Buddhismus" und befindet sich im Oberbergischen Kreis in Waldbröl bei Bonn.</p>

  <p>&copy; https://plumvillage.org/de/plum-village</p>
</PageLayout>
