---
import PageLayout from '../layouts/PageLayout.astro';
import ImgScale from '../components/ImgScale.astro';
---

<PageLayout title="Thich Nhat Hanh" description="Das Leben und Wirken von Thay">
  <ImgScale src="images/thay.png" alt="Thay lädt die Glocke ein" width={500} />

  <p>Thich Nhat Hanh, Mönch und Zen-Meister, Gelehrter und Poet mit unermüdlichem Engagement für Menschenrechte und Frieden, war einer der bekanntesten und verehrtesten Zen-Meister unserer Zeit. Seine zahlreichen Bücher wurden weltweit in 22 Sprachen übersetzt. Seine Schüler nennen ihn liebevoll Thay (vietnamesisch für "Lehrer").</p>

  <p>Er wurde 1926 in Vietnam geboren und trat mit 16 Jahren ins Kloster ein. Während des Vietnamkrieges wurde er Mitbegründer der Bewegung "Engagierter Buddhismus", 1964 gründetet er in Saigon die "Schule für Jugend und Sozialarbeit". Diese Organisation setzte sich dafür ein, bombardierte Dörfer wieder aufzubauen, Schulen und medizinische Zentren zu schaffen und landwirtschaftliche Kooperativen zu organisieren.</p>

  <p>Als Thich Nhat Hanh 1966, am Ende einer Friedensmission in den USA und Europa, nach Vietnam zurückkehren wollte, wurde ihm die Einreise verweigert. Seitdem lebt er in Frankreich im Exil. Auf mehreren Reisen durch Europa und Nordamerika setzte er sich weiterhin für den Frieden in seiner Heimat ein. 1967 nominierte Martin Luther King Jr. ihn für den Friedensnobelpreis. Thoms Merton, der bekannte katholische Mönch, schrieb ein Essay mit dem Titel "Thich Nhat Hanh ist mein Bruder", in dem er Thich Nhat Hanhs Friedensbemühungen uneingeschränkt unterstützte.</p>

  <p>1982 gründete Thich Nhat Hanh <a href="/pages/plumvillage" title="Plum Village">Plum Village</a>, eine buddhistische Gemeinschaft im Südwesten Frankreichs, wo er seitdem lebt. Von dort engagierte er sich weiterhin für vietnamesische Flüchtlinge, politische Gefangene und hungernde Kinder in Vietnam. Inzwischen ist Plum Village ein internationales Retreat-Zentrum geworden – mit annähernd 200 Mönchen und Nonnen, die dort leben und praktizieren und wo er das ganze Jahr über Retreats anbietet. Außerdem leitet Thich Nhat Hanh jährlich mehrere Retreats in weiteren europäischen Ländern. Alle zwei Jahre absolviert er eine USA-Tour und lehrt regelmäßig auch im gesamten asiatischen Raum.</p>

  <p>Nach 39 Jahren Exil wurde es Thich Nhat Hanh 2005 schließlich erlaubt, für drei Monate nach Vietnam zurückzukehren.
  Im September 2008 gründete Thich Nhat Hanh das <a href="/pages/eiab" title="EIAB">Europäische Institut für angewandten Buddhismus</a> in Waldbröl, das eine knappe Stunde entfernt von Köln und Bonn liegt.</p>

  <p>Thay starb am 22. Januar 2022 in seinem Heimattempel Tu-Hieu in der vietnamesischen Stadt Hue.</p>

  <p>&copy; EIAB gGmbH http://www.eiab.eu/Thich-Nhat-Hanh</p>
</PageLayout>
