{{ partial "header.html" . }}

<article>
<header class="article-title">
    <h1 class="text-primary">Über uns</h1>
</header>

<hr>

<p>Die Bielefelder Sangha in der Tradition von Thich Nhat Hanh trifft sich</p>

<strong>jeden Dienstag im Yogazentrum in der Oelmühlenstraße 13/Hinterhaus von 17:50 Uhr bis 19:30 Uhr.</strong>

<h2>Unser Programm</h2>

<table style="border: 0px;">
    <tr>
        <td><strong>18:00 Uhr</strong></td>
        <td>Eröffnung und Begrüßung/Blitzlicht</td>
    </tr>
    <tr>
        <td><strong>ca. 18:10 Uhr</strong></td>
        <td>"Eintreten in die Stille": 25 Minuten Sitzmeditation mit anschließender Gehmeditation im Raum</td>
    </tr>
    <tr>
        <td><strong>18:50 Uhr</strong></td>
        <td>Austausch: "Liebevolles Sprechen und tiefes Zuhören"</td>
    </tr>
    <tr>
        <td><strong>19:25 Uhr</strong></td>
        <td>Sitzmeditation in Stille</td>
    </tr>
    <tr>
        <td><strong>19:30 Uhr</strong></td>
        <td>Ende</td>
    </tr>
</table>

<h2>Wer wir sind</h2>

<p>In unserer Gruppe treffen sich Menschen aller Religionen und Nicht-Religionen. Angeleitet durch die
Lehren des vietnamesischen Zen-Meisters Thich Nhat Hanh üben wir, ganz im gegenwärtigen
Moment zu leben. Die Achtsamkeit auf den Atem, sowohl in der Sitz- als auch in der Gehmeditation,
ist uns dabei ein zentrales Werkzeug. Im liebevollen Sprechen und achtsamen Zuhören üben wir uns
darin, uns mit ganzem Herzen unseren Freundinnen und Freunden in der Sangha zuzuwenden.</p>

<p>Sein ganzes Leben in Achtsamkeit und Bewusstheit leben zu wollen ist ein hohes Ziel. Wir wissen,
dass wir uns mit unserem Geist immer wieder neu darauf ausrichten müssen. Und wir wissen auch,
dass wir immer wieder zurückfallen in die Gewohnheitsmuster unseres Alltagslebens. So lernen wir,
uns selbst immer wieder zu verzeihen und mit frischem Geist wieder von Neuem zu beginnen.
Daraus kann Mitgefühl für uns selbst, für unsere Mitmenschen und für alle Lebewesen entstehen.</p>

<p>An jedem ersten Dienstag-Abend im Monat rezitieren wir die 5 Achtsamkeitsübungen, die von Thich
Nhat Hanh und seiner weltweiten Sangha für unsere Zeit neu formuliert wurden. Er nennt sie
„Ehrfurcht vor dem Leben“, „Wahres Glück“, „Wahre Liebe“, „Liebevolles Sprechen und tiefes
Zuhören“ und „Nahrung und Heilung“.</p>

<p>In halbjährlichem Abstand organisiert unsere Sangha (jeweils an einem Sonntag von 10:00 Uhr bis
18:00 Uhr) einen Tag der Achtsamkeit, zu dem gesondert eingeladen wird.</p>

<p>Unsere Sangha ist offen für alle Interessenten. Wir freuen uns auf unsere Besucher*innen.</p>

<h2>Kontakt</h2>

<p>Christel Weber, fon: 0176 – 65204051</p>

<p>Daniel Rosowski, fon: 0170 – 3815757</p>

<p>Email: <a href="mailto:info@meditation-bielefeld.org">info@meditation-bielefeld.org</a></p>

<em>Links zu befreundeten spirituellen Zentren</em>
<ul>
    <li>www.eiab.eu (Europ. Institut für Angewandten Buddhismus, Waldbröl/NRW)</li>
    <li>www.intersein-zentrum.de (Intersein-Zentrum, Hohenau/Bayern)</li>
    <li>www.plumvillage.org (Plum Village, Zen-Kloster, Dordogne/Frankreich)</li>
</ul>

</article>

{{ partial "footer.html" . }}